.container {
    font-family: "Verdana", "Times New Roman";
    font-size: 20px;
    text-align: center;
    color: white;
}

#player {
    background-color: red;
    left: 0;
    top: 0;
    padding: 5px;
    margin: 10px 10px 10px 10px;
    position: fixed;
    height: 100px;
    width: 120px;
}

h1 {
    font-size: 36px;
}

html {
    background: linear-gradient(to bottom right, grey, rgb(49, 49, 49), grey);
}

body {
    overflow: hidden;
}

table {
    border: 20px solid rgb(37, 37, 37);
    margin: 10px auto;
    margin-bottom: 200px;
    background: lightgray;
    border-collapse: collapse;
}

td {
    width: 10vw; 
    height: 10vh;
    padding: 5px;
    margin: 5px;
    border: 2px solid grey;
    background: lightblue;
}
