* {
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

h3 {
    font-size: 36px;
}

h5 {
    font-size: 24px;
}

body {
    background-color: #333;
    color: white;
}

.container {
    display: flex;
    justify-content: center;
}

canvas {
    position: absolute;
    margin-bottom: 5vh;
}

/* Flex Items */

.pieChart, .frequent {
    position: relative;
    width: 20%;
    height: 90vh;
    background-color: #555;
    margin-top: 5vh;
    border-radius: 5px;
}

.pieChart {
    margin-left: 5%
}

table {
    max-width: 50%;
    margin-left: 5%;
    margin-right: 5%;
    border-collapse: collapse;
}

.frequent {
    margin-right: 5%;
}

td, th {
    padding: 10px;
    border: 2px solid black;
}

th {
    font-size: 20px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
html::-webkit-scrollbar {
    display: none;
}

.top {
    top: 0;
}

.bottom {
    bottom: 0;
}