* {
    font-family: 'Inter', sans-serif;
    font-size: 1.05em;
}

h2 {
    font-size: 2em;
}

body {
    background-color: rgb(36, 36, 36);
    color: white;
    margin-left: 20%;
    margin-right: 20%;
    padding: 1%;
}

a {
    color: white;
    font-size: 1em;
}

code {
    background-color: #484848;
    color: white;
    padding: 0.2em;
    border-radius: 0.2em;
    font-size: .9em;
}

@media (max-width: 1000px) {
    body {
        margin: 2%;
        font-size: 2em;
    }
    h1, h2, h3, h4, h5, h6 {
        font-size: 1.3em;
    }
}

