* {
    margin: 0;
    padding: 0;
}

:root {
    --ti-cursor-color: green;
}


html {
    background-image: radial-gradient(
        circle,
        #222222,
        #1e1e1e,
        #1a1a1a,
        #161616,
        #111111
    );
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    min-height: 100%;
    scroll-behavior: smooth;
}

.cardDisplay {
    margin-top: 90vh;
}