#sun {
    position: fixed;
    width: 20vw;
    animation-name: rotate;
    animation-duration: 60s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}

#grass {
    position: fixed;
    width: 100vw;
    bottom: 0vh;
    height: 20vh;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(360deg);
    }
}