.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    font-size: 2vh;
    color: white;
    font-family: 'Roboto Slab', serif;
}

.navbutton {
    margin-right: 10vw;
}

.flexright {
    display: flex;
    align-items: center;
    margin-right: 0;
    margin-left: auto;
}