.nav {
}

@media screen and (max-width: 1100px) {
    .nav {
        display: none;
    }
}

.navlink {
    color: white;
    text-decoration: none;
    width: 8vw;
    text-align: center;
    padding: 6px 4px;
    border: 1px solid black;
    margin-top: -5vh;
}

.navlink:hover, .navlink:focus {
    border-radius: 5px;
    animation-duration: .5s;
    animation-name: navbutton;
    animation-fill-mode: forwards;
    color: white;
}

@keyframes navbutton {
    0% {
        transform: scale(1);
        background-color: black;
    }
    100% {
        border: 1px solid gray;
        color: black;
        transform: scale(1.1);
        background-color: white;
    }
}

.flexright {
    margin-right: 0;
    margin-left: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 2vh;
    color: white;
    width: 80%;
    font-family: 'Roboto Slab', serif;
    align-items: center;
}