.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 2vh;
    color: white;
    font-family: 'Roboto Slab', serif;
}

@media screen and (max-width: 1100px) {
    .nav {
        display: none;
    }
}

.navbutton:hover {
    border-bottom: 3px solid rgb(0, 156, 21);
    transform: scale(1.1);
}
.navbutton {
    margin-right: 7vw;
    transition-duration: .25s
}

.flexright {
    display: flex;
    align-items: center;
    margin-right: 0;
    margin-left: auto;
}

.navlink {
    color: white;
    text-decoration: none;
}