* {
    margin: 0; 
    padding: 0;
    font-family: 'Rubik';
    scroll-behavior: smooth;
}

.container {
    width: 100%;
    height: 100vh;
    /* background-image : url(/images/background.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed; */
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    position: relative;
    overflow-x: hidden;
}

nav {
    display: flex;
    width: 60vw;
    height: 15%;
    margin: auto;
    align-items: center;
    justify-content: space-evenly;
}

nav a {
    color: white;
    font-size: 24px;
    border: 1px solid white;
    background-color: transparent;
    border-radius: 20px;
    padding: 12px 20px;
    cursor: pointer;
    text-decoration: none;
    flex-shrink: 1;
}

@media only screen and (max-width: 600px) {
    nav {
        visibility: hidden;
    }
}

@keyframes ButtonTransition {
    0% {
        background-color: transparent;
        color: white;
    }
    100% {
        background-color: white;
        color: black;
    }
}

nav a:hover {
    animation: ButtonTransition linear .2s;
    color: black;
    background-color: white;
}

@font-face {
    font-family: TitleFont;
    src: url('/fonts/LibreBaskerville-Regular.ttf');
}

.title, .subtitle {
    color: white;
    margin: auto;
    width: 100%;
}

.title {
    text-align: center;
}

.subtitle {
    text-align: left;
    margin-left: 3vw;
    font-size: 5vh;
    margin-bottom: 5vh;
}

.subtitle:not(#subtitle-about) {
    margin-top: 10vh;
}

.body *:not(a), details {
    font-size: 3vh;
    text-decoration: none;
    color: white;
    margin-left: 7vw;
    margin-right: 7vw;
}

li {
    padding-top: 20px;
    padding-bottom: 20px;
}

details {
    padding-top: 20px;
    padding-bottom: 20px;
    cursor: pointer;
}

.details-list {
    margin-left: 5vw;
}

#title-name {
    font-size: 8vh;
    margin-top: 5vh;
}

#title-major {
    font-size: 6vh;
    margin-top: 20vh;
}

#title-brief {
    font-size: 4vh;
    margin-top: 15vh;
}

#subtitle-about {
    margin-top: 25vh;
}

.socialbuttons {
    display: flex;
    width: 85%;
    height: 15%;
    margin: auto;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    margin-bottom: 10vh;
}

.logo {
    flex: auto;
    width: 5vh;
    height: 5vh;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}
  
  /* Track */
::-webkit-scrollbar-track {
    background: #888; 
}
   
  /* Handle */
::-webkit-scrollbar-thumb {
    background-color: #f1f1f1;
}
  
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background-color: #555; 
}

li a {
    color: white;
}

summary {
    text-decoration: underline;
}