h3 {
    font-family: 'Roboto Slab', serif;
    color: white;
    font-size: 4em;
    margin-left: 2vw;
    margin-bottom: 3vh;
}

.cardbackground {
    margin-bottom: 10vh;
    min-height: 100vh;
}

ul {
    display: flex;
    list-style: none;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
}

ul li {
    font-family: 'Ubuntu', sans-serif;
    margin-right: 5vw;
    margin-left: 5vw;
    border: 3px solid black;
    border-radius: 10px;
    font-size: 2.5vh;
    height: auto; 
    padding: 10px;
    background-color: grey;
    margin-bottom: 5vh;
    max-width: 20vw;
}

ul li:hover {
    transform: scale(1.2);
    transition-duration: .5s;
}

@media screen and (max-width: 850px) {
    ul li {
        min-width: 80vw;
    }
    h3 {
        text-align: center
    }
}

ul li h5 {
    font-size: 2.75vh;
    margin-bottom: 2vh;
}