*, *:after, *:before {
    box-sizing: border-box;
}
  
input[type=checkbox] {
    visibility: hidden;
}
input[type=checkbox]:checked + label {
    transform: rotate(360deg);
    background-color: #000;
}
input[type=checkbox]:checked + label:before {
    transform: translateX(90px);
    background-color: #FFF01F;
}

label {
    display: flex;
    width: 180px;
    height: 90px;
    border: 6px solid;
    border-radius: 99em;
    position: relative;
    transition: transform 0.75s ease-in-out;
    transform-origin: 50% 50%;
    cursor: pointer;
}
label:before {
    transition: transform 0.75s ease;
    transition-delay: 0.5s;
    content: "";
    display: block;
    position: absolute;
    width: 54px;
    height: 54px;
    background-color: #00FFFF;
    border-radius: 50%;
    top: 12px;
    left: 12px;
}

.switch {
    position: absolute;
    bottom: 0vh;
    left: calc(50vw - (.5 * 180px));
    transform: scale(33%)
}

.switch p {
    font-size: 2em;
}