.snowflake {
  font-size: 1.4em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-shadow: 0 0 5px #000;
}

.snowflake:nth-child(3n+1) {
    color: #0ff;
}

.snowflake:nth-child(3n+2) {
    color: #f00;
}

.snowflake:nth-child(3n+3) {
    color: #0f0;
}

@-webkit-keyframes snowflakes-fall {
  0% {
    top: 0%;
  }
  100% {
    top: 580%;
  }
}
@-webkit-keyframes snowflakes-shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(80px);
    transform: translateX(80px);
  }
}
@keyframes snowflakes-fall {
  0% {
    top: 0%;
  }
  100% {
    top: 580%;
  }
}
@keyframes snowflakes-shake {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(80px);
  }
}
.snowflake {
  position: absolute;
  top: -10%;
  z-index: -1;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  -webkit-animation-name: snowflakes-fall, snowflakes-shake;
  -webkit-animation-duration: 10s, 3s;
  -webkit-animation-timing-function: linear, ease-in-out;
  -webkit-animation-iteration-count: infinite, infinite;
  -webkit-animation-play-state: running, running;
  animation-name: snowflakes-fall, snowflakes-shake;
  animation-duration: 10s, 3s;
  animation-timing-function: linear, ease-in-out;
  animation-iteration-count: infinite, infinite;
  animation-play-state: running, running;
}
.snowflake:nth-child(12n+1) {
  left: 1%;
  -webkit-animation-delay: 0s, 0s;
  animation-delay: 0s, 0s;
  animation-duration: 30s, 3s;
}
.snowflake:nth-child(12n+2) {
  left: 10%;
  -webkit-animation-delay: 1s, 1s;
  animation-delay: 1s, 1s;
  animation-duration: 10s, 3s;
}
.snowflake:nth-child(12n+3) {
  left: 20%;
  -webkit-animation-delay: 6s, 0.5s;
  animation-delay: 6s, 0.5s;
  animation-duration: 18s, 4s;
}
.snowflake:nth-child(12n+4) {
  left: 30%;
  -webkit-animation-delay: 4s, 2s;
  animation-delay: 4s, 2s;
  animation-duration: 12s, 4s;
}
.snowflake:nth-child(12n+5) {
  left: 40%;
  -webkit-animation-delay: 2s, 2s;
  animation-delay: 2s, 2s;
  animation-duration: 15s, 5s;
}
.snowflake:nth-child(12n+6) {
  left: 50%;
  -webkit-animation-delay: 8s, 3s;
  animation-delay: 8s, 3s;
  animation-duration: 24s, 5s;
}
.snowflake:nth-child(12n+7) {
  left: 60%;
  -webkit-animation-delay: 6s, 2s;
  animation-delay: 6s, 2s;
  animation-duration: 22s, 6s;
}
.snowflake:nth-child(12n+8) {
  left: 70%;
  -webkit-animation-delay: 2.5s, 1s;
  animation-delay: 2.5s, 1s;
  animation-duration: 28s, 6s;
}
.snowflake:nth-child(12n+9) {
  left: 80%;
  -webkit-animation-delay: 1s, 0s;
  animation-delay: 1s, 0s;
  animation-duration: 11s, 7s;
}
.snowflake:nth-child(12n+10) {
  left: 90%;
  -webkit-animation-delay: 3s, 1.5s;
  animation-delay: 3s, 1.5s;
  animation-duration: 17s, 7s;
}
.snowflake:nth-child(12n+11) {
  left: 25%;
  -webkit-animation-delay: 2s, 0s;
  animation-delay: 2s, 0s;
  animation-duration: 23s, 8s;
}
.snowflake:nth-child(12n+12) {
  left: 65%;
  -webkit-animation-delay: 4s, 2.5s;
  animation-delay: 4s, 2.5s;
  animation-duration: 29s, 8s;
}