::-webkit-scrollbar {display:none;}

.App {
  text-align: center;
  min-height: 100vh;
  font-size: 2vmin;
}

a {
  color: #f0ecec;
  text-decoration: none;
}

body {
  overflow-x: hidden;
  background-color: rgba(19,16,19,255);
  color: #f0ecec;
}
