.titleContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30vh;
    font-size: 3em;
    font-family: "Noto Sans Mono", monospace;
    text-align: center;
    color: white;
}

@media screen and (max-width: 850px) {
    .titleContainer {
        margin-top: 20vh;
        font-size: 2em;
    }
}
