.name {
    font-size: 2rem;
    font-weight: bold;
    text-shadow: 0 0 0.5rem #000;
    position: absolute;
    bottom: 20vh;
    width: 110%;
    text-align: center;
    border-radius: 5px;
    left: -5vw;
    transition: 1s;
    z-index: 2;
}

.nameBlue {
    background-color: #00FFFF;
    transform: rotate(-12deg);
}

.nameYellow {
    background-color: #FFF01F;
    transform: rotate(12deg);
}

.title {
    font-size: 1.5em;
    position: absolute;
    top: 15vh;
}

.vandenberg {
    position: absolute;
}

.outerBlue {
    left: 18vw;
}

.outerYellow {
    right: 18vw;
}

.innerBlue {
    left: 5vw;
}

.innerYellow {
    right: 5vw;
}

.mobile {
    margin: 0vh 5vh 5vh 5vh;
    font-size: 2em;
}

.mobileTitle {
    padding-left: 25px;
    padding-right: 25px;
}

