.container {
    font-family: "Verdana", "Arial";
    font-size: 100%;
    color:rgb(224, 224, 224);
    text-align: center;
}

#start {
    bottom: 0;
    right: 0;
    width: 15%;
    color: rgb(224, 224, 224);
    height: 15%;
    position: fixed;
    border: 5px solid rgb(44, 44, 44);
    font-size: 36px;
    background: linear-gradient(45deg, rgb(90, 90, 90) 50%, rgb(74, 74, 74) 50%);
    font-family: "Verdana", "Arial";
    cursor: pointer;
}

#score {
    left: 0;
    top: 0;
    margin: 20px 20px 20px 20px;
    border: 5px solid black;
    color:rgb(224, 224, 224);
    position: fixed;
    font-size: 36px;
    padding: 20px;
    background: linear-gradient(0deg, rgb(90, 90, 90) 50%, rgb(74, 74, 74) 50%);
}

#start:hover {
    background: linear-gradient(135deg, rgb(90, 90, 90) 50%, rgb(74, 74, 74) 50%);
    box-shadow: 5px 5px 5px 5px rgb(44, 44, 44);
}

table.chessboard {
    margin: 10px auto;
    background: #999;
    border: 25px solid rgb(44, 44, 44);
    border-collapse: collapse;
}
td.chessboard {
    width: 2vw; 
    height: 3.3vh;
    border: 2px solid #333;
}

tr.chessboard:nth-child(odd) td.chessboard:nth-child(even),
tr.chessboard:nth-child(even) td.chessboard:nth-child(odd) {
    background: white;
}

body {
    background: linear-gradient(90deg, rgb(74, 74, 74) 49%, rgb(90, 90, 90) 49%);
    overflow: hidden;
}