* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h3:not(.popup) {
    text-align: center;
    font-size: 24px;
    color: white;
}

body {
    background-color: #222;
}

.name-div {
    background-color: #444;
    color: white;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px 14px;
    border-radius: 5px;
}

.name-div:hover {
    cursor: pointer;
    background-color: #333;
}

.existing {
    display: flex;
    align-items: left;
    justify-content: space-around;
}

.existing-entry {
    width: auto;
    height: auto;
    background-color: #444;
    text-decoration: none;
    color: white;
    font-size: 24px;
    padding: 10px 16px;
    border-radius: 5px;
}

.existing-entry:hover {
    background-color: #333;
}

form {
    color: white;
    height: 40vh;
}

input[type=text] {
    font-size: 24px;
    padding: 10px 16px;
    border-radius: 5px;
}

input[type=submit] {
    font-size: 20px;
    padding: 8px 14px;
    border-radius: 5px;
}

input[type=submit]:hover {
    cursor: pointer;
    background-color: grey;
}

input[type=file] {
    font-size: 24px;
    margin-bottom: 5vh;
}

input[type=file]:hover {
    cursor: pointer;
}